<div class="clearfix">
<h1 class="pull-left title">Mocha Runner</h1>
<h2 class="pull-right">
  <div title="Passed" class="label label-success"><span class="glyphicon glyphicon-ok"></span> <span id="passes-value"></span></div>
  <div title="Failed" class="label label-danger"><span class="glyphicon glyphicon-remove"></span> <span id="failures-value"></span></div>
  <div title="Pending" class="label label-primary"><span class="glyphicon glyphicon-pause"></span> <span id="pending-value"></span></div>
  <div title="Skipped" class="label label-default"><span class="glyphicon glyphicon-minus"></span> <span id="skipped-value"></span></div>
  <div title="Duration" class="label label-default"><span class="glyphicon glyphicon-time"></span> <span id="duration-value">0</span></div>
</h2>
</div>
